<form action="http://localhost:4567/contact/hashcookies" method="post">
  Email: <input type="text" name="email"><br>
  Name: <input type="text" name="name"><br>
  Message: <textarea name="message" cols="40" rows="5"></textarea>
  <input type="submit" value="Send Message">
</form> 